html {
    padding: 0px;
    margin: 0px;
}

p {
    margin-bottom: 18px;
}

body {
    width: 1024px;
    margin-left: 20%;
    margin-top: 50px;
    font: 25px "Lucida Grande", sans-serif;
    color: black;
    background-color: #8788c2;
}

.panel {
    border: black solid 1px;
    margin-bottom: 20px;
    padding: 10px;
}

.panel-body {
    height: 50px;
    vertical-align: baseline;
    border: black solid 1px;
    margin: 15px;
}

.text-center {
    text-align: center;
    border: 2px solid #96ff83;
}

a {
    color: #96FF83;
}

a:hover {
    color: #e6ff08
}

img {
    height: 150px;
    width: 150px;
    display: inline-block;
    margin-right: 30px;
}

.pull-right {
    float: right;
    background-image: url("../images/Trash.jpg");
    height: 35px;
    width: 35px;
    background-repeat: no-repeat;
    margin-right: 7px;
    margin-top: 7px;
}

form {
    display: initial;
}

.form-control {
    width: 400px;
}

.mention {
    font: 18px "Lucida Grande", sans-serif;
    margin-top: 18px;
}