extends layout

block content
    h1= title
    p Bienvenue dans le projet de l'examen de NodeJS
    div
        img(src="images/ToDo.jpg")
        a(href='/todos').btn.btn-success.btn-lg Voir toutes les ToDos
    .mention Réalisé par Van Laecke Loïc 3IRT, Sécurité